on:
  issue_comment:
    types: [created]

jobs:
  rerun_pr_tests:
    permissions: write-all
    name: rerun_pr_tests
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: prafdin/rerun-actions@main
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          comment_id: ${{ github.event.comment.id }}